* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightslategray;
}

.logo-header {
    height: 70px;
    padding: 10px;
    background-color: white;
}

h1 {
    display: inline-block;
    position: absolute;
    top: 5.5px;
    font-size: 50px;
}

.container{
    margin: auto;
    margin-top: 20px;
    max-width: 1080px;
    background-color: white;
    border-radius: 5px;
}

.button {
    padding: 6px;
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
}

.task{
    background-color: rgb(31,144,255);
    border: 1px solid rgb(31,144,255);
    color: white;
    margin-left: 30px;
}

.section {
    background-color: white;
    border: 1px solid black;
}

hr {
    height: 3px;
    border: none;
    background-color: lightslategray;
}

.list {
    padding-top: 40px;
    padding-left: 30px;
}

.symbol {
    vertical-align:sub;
}

p {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}

.box {
    width: 50x;
    height: 30px;
    background-color: lightgreen;
    display: inline-block;
    text-align: center;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 15px;
}

.blue {
    background-color: lightblue;
}

.pink {
    background-color: pink;
}

.light-green {
    background-color: lightgreen;
}

.green {
    background-color: green;
}

.violet {
    background-color: violet;
}

.orange {
    background-color: orange;
}

.check {
    background-color: white;
    color: green;
    width: 25px;
    height: 25px;
    display: inline-block;
    text-align: center;
    line-height: 25px;
    border: 2px solid green;
    border-radius: 50%;
}

.odd {
    color: red;
    border: 2px solid red;
}
